<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>Rock Paper Scissors Smackdown!</h1>

      <p>
        <h3><%= @your_output1 %></h3>
      </p>
      <p>
        <h3><%= @your_output2 %></h3>
      </p>
      <p>
        <h3><%= @your_output3 %></h3>
      </p>

      <!-- <div class="row">
        <div class="col-md-12">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>House</th>
                <th>Challenger</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @your_output4 %></td>
                <td><%= @your_output5 %></td>
              </tr>
            </tbody>
          </table>

        </table>

      </div> -->
    </div>

  </div>
</div>
</div>
